<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  <title>HTMX</title>
  <style>
    :root{
      font-family: monospace;
      font-size: 20px;
    }
  </style>
</head>
<body>
  <h1>HTMX</h1>

  <div id="respuesta">Aqui aparecerán las respuestas del servidor</div>
  <div hx-trigger="load" hx-get="/hola"></div>

  <div id="mensajes" hx-trigger="every 0.2s" hx-get="/mensajes/html"></div>
  
  <form hx-post="/mensajes" hx-target="#respuesta">
    <input type="text" name="nombre" id="nombre">
    <input type="text" name="mensaje" id="mensaje">
    <button>Enviar</button>
  </form>

  <form hx-get="/mensajes/reset" hx-target="#respuesta">
    <button>Reset</button>
  </form>

</body>
</html>