<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
<h1>Mensajes</h1>
  <ul>
    {% for item in lista %}
      <li><b>{{ item.autor }}</b>: {{ item.mensaje }}</li>
    {% endfor %}
  </ul>
  <form action="/mensajes" method="POST">
    <input type="text" id="nombre" name="nombre" >
    <input type="text" id="mensaje" name="mensaje" >
    <input type="submit">
  </form>

  <form>
    {# podeis hacer un boton que haga reset al json? #}
  </form>
</body>
</html>