<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>{{ mensaje }}</h1>
  <p>Mensaje desde test.njk</p>
  <ul>
    {% for item in lista %}
      <li>{{ item }}</li>
    {% endfor %}
  </ul>
</body>
</html>